<h1>비밀번호 재설정</h1>

아래 버튼을 클릭 하여 비밀번호를 변경해 주세요.
비밀번호 재설정 버튼은 발송 후 24시간 동안 유효합니다. 24시간이 지나면 새로 신청해야 해요. 

<p><a href="{{url}}">비밀번호 재설정</a></p>

새 비밀번호를 요청하지 않으셨다면 이 메일을 무시해 주세요.
---
궁금하신 내용이 있으시다면 support@bindus.kr로 문의 주세요.
